@import "quasar/src/css/variables";

@font-face {
  font-family: inter;
  font-weight: 1 1000;
  font-stretch: 1% 1000%;
  src: url(src/css/fonts/Inter.woff2);
}

@font-face {
  font-family: galaxy-sans;
  font-weight: 1 1000;
  font-stretch: 1% 1000%;
  src: url(src/css/fonts/26FGalaxySansVF.woff2);
}

@font-face {
  font-family: galaxy-sans-oblique;
  font-weight: 1 1000;
  font-stretch: 1% 1000%;
  src: url(src/css/fonts/26FGalaxySans-ObliqueVF.woff2);
}

.text {
  &-color {
    &-black {
      color: #1D1D1D;
    }

    &-blue {
      color: #3C76E8;
    }

    &-grey {
      color: #636365;
    }

    &-primary {
      background: linear-gradient(130deg, #479EEE 20%, #7C4FFF 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-white {
      color: #F1F2F3;
    }
  }

  &-font {
    font-feature-settings: 'pnum' on, 'lnum' on;

    &-galaxy {
      @extend .text-font;
      font-family: 'galaxy-sans', sans-serif;

      &-bold {
        @extend .text-font-galaxy;
        font-weight: 300;
      }

      &-slim {
        @extend .text-font-galaxy;
        font-weight: 206;
      }
    }

    &-galaxy-oblique {
      @extend .text-font;
      font-family: 'galaxy-sans-oblique', sans-serif;

      &-bold {
        @extend .text-font-galaxy-oblique;
        font-weight: 300;
      }

      &-slim {
        @extend .text-font-galaxy-oblique;
        font-weight: 206;
      }
    }

    &-inter {
      @extend .text-font;
      font-family: 'inter', sans-serif;
      font-weight: 500;

      &-bold {
        @extend .text-font-inter;
        font-weight: 700;
      }

      &-slim {
        @extend .text-font-inter;
        font-weight: 400;
      }
    }
  }

  &-shadow {
    &-grey {
      text-shadow: 0 0.5vw 3vw rgba(4, 0, 29, 0.15);
    }

    &-purple {
      text-shadow: 0 0.5vw 3vw rgba(48, 0, 240, 0.31);
    }
  }
}

.btn {
  border-radius: 1vw;

  &-primary {
    @extend .text-color-white, .text-font-inter-bold, .btn;
    background: linear-gradient(130deg, #479EEE 0%, #7C4FFF 100%);
    box-shadow: 0 1vw 2vw rgba(36, 0, 182, 0.21);
  }

  &-secondary {
    @extend .text-color-blue, .text-font-inter-bold, .btn;
    background: #CBDDFF;
  }

  &-disabled {
    @extend .text-color-grey, .text-font-inter-bold, .btn;
    background: $grey-4;
  }
}
